
# Archivos de configuración local
*.env
*.pyc
*.sqlite3

# Directorio de archivos estáticos generados
staticfiles/

# Directorio de archivos de compilación
node_modules/
bower_components/

# Archivo de base de datos local
db.sqlite3

# Migraciones
apps/employee/migrations
apps/company/migrations
apps/users/migrations
apps/payrolls/migrations


gitignore:
  - .gitignore
  - .git/
  - .idea/
  - .vscode/
  - .db.sqlite3
  - db.sqlite3
  - __pycache__/
  - venv/
  - .venv/
  - .env
  - .DS_Store


